{% extends 'mailwork/base.html' %}
{% load my_tags %}
{% block content %}
<header>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" style="font-weight: bold"> Mailing Service</h1>
        {% if user.is_authenticated %}
            <p class="lead" style="font-weight: bold">Добро пожаловать на наш сайт, {{ user.email }}!</p>
        {% else %}
            <p class="lead" style="font-weight: bold">Добро пожаловать на наш сайт! Для работы с функционалом сайта войдите или зарегистрируйтесь</p>
        {% endif %}
    </div>
</header>
<div class="container">
    <div class="row text-center">
        {{ total_newsletters }}
        {{ total_attempts }}
        {{ successful_attempts }}
        {{ failed_attempts }}
    </div>
</div>
{% endblock %}
