{% extends 'mailwork/base.html' %}
{% load my_tags %}
{% block content %}
<header>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" style="font-weight: bold"> Mailing Service</h1>
        {% if user.is_authenticated %}
            <p class="lead" style="font-weight: bold">Добро пожаловать на наш сайт, {{ user.email }}!</p>
        {% else %}
            <p class="lead" style="font-weight: bold">Добро пожаловать на наш сайт! Для работы с функционалом сайта войдите или зарегистрируйтесь</p>
        {% endif %}
    </div>
</header>
<div class="container">
    <div class="row text-left">
        <p class="lead" style="font-weight: bold; font-size: 14px;">Всего рассылок: {{ total_newsletters }}</p>
        <p class="lead" style="font-weight: bold; font-size: 14px;">Активные рассылки: {{ active_newsletters }}</p>
        <p class="lead" style="font-weight: bold; font-size: 14px;">Всего попыток рассылок: {{ total_attempts }}</p>
        <p class="lead" style="font-weight: bold; font-size: 14px;">Успешные попытки: {{ successful_attempts }}</p>
        <p class="lead" style="font-weight: bold; font-size: 14px;">Неудачные попытки: {{ failed_attempts }}</p>
        <p class="lead" style="font-weight: bold; font-size: 14px;">Уникальные получатели: {{ unique_recipients }}</p>
    </div>
</div>
{% endblock %}
