{% extends 'mailwork/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="card-header">
                <h2 class="card-title">Создание сообщения</h2>
            </div>
            <form class="row" method="post" enctype="multipart/form-data">
                 <div class="card">
                     <div class="card-body">
                         {% csrf_token %}
                         {{ form.as_p }}
                         <button type="submit" class="btn btn-primary">
                             {% if not object %}
                             Создать
                             {% else %}
                             Сохранить
                             {% endif %}
                         </button>
                         <a class="p-2 btn btn-outline-primary" href="{% url 'mailwork:user_owned_messages' %}">Отмена</a>
                     </div>
                 </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}