{% extends 'mailwork/base.html' %}

{% block title %}Пример Шаблона{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Наши рассылки</h1>
</div>
<div class="container">
    <table class="table table-striped">
        {% if user.is_authenticated %}
        <thead>
            <tr>
                <th>Владелец</th>
                <th>Статус</th>
                <th>Дата первой отправки</th>
                <th>Дата последней отправки</th>
                <th>Сообщение</th>
                <th>Адресаты</th>
                <th>Доступные действия</th>
            </tr>
        </thead>
        <tbody>
            {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.owner }}</td> <!-- Выводим владельца рассылки-->
                <td>{{ newsletter.status }}</td> <!-- Выводим статус рассылки -->
                <td>{{ newsletter.first_send_time }}</td> <!-- Выводим дату первой отправки рассылки -->
                <td>{{ newsletter.last_send_time }}</td> <!-- Выводим дату последней отправки рассылки -->
                <td>{{ newsletter.message }}</td> <!-- Выводим тему сообщения из рассылки -->
                <td>{{ newsletter.recipients }}</td> <!-- Выводим список адресатов -->
                {% if perms.mailwork.can_unpublish_newsletter %}
                    {% if newsletter.status == "created" %}
                        <td>
                            <a type="button" class="btn btn-outline-primary"
                               href="{% url 'mailwork:newsletter_start' newsletter.pk %}">Запустить</a>
                            <a type="button" class="btn btn-outline-danger"
                               href="{% url 'mailwork:newsletter_finish' newsletter.pk %}">Завершить</a>
                        </td>
                    {% elif newsletter.status == "started" %}
                        <td>
                            <a type="button" class="btn btn-outline-danger"
                               href="{% url 'mailwork:newsletter_finish' newsletter.pk %}">Завершить</a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a type="button" class="btn btn-lg btn-block btn-outline-primary"
          href="{% url 'mailwork:newsletter_create' %}">Добавить рассылку</a></p>
    <p><a type="button" class="btn btn-lg btn-block btn-outline-primary"
          href="{% url 'mailwork:user_owner_newsletters' %}">Мои рассылки</a></p>
    {% endif %}
    {% if perms.catalog.can_unpublish_product %}
        <p><a type="button" class="btn btn-lg btn-block btn-outline-primary"
            href="{% url 'mailwork:non_published_newsletters' %}">Неопубликованные рассылки</a></p>
    {% endif %}
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ newsletter.theme }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h3 class="card-title pricing-card-title">{{ newsletter.theme }} р.</h3>
                        <div class="col-2"></div>
                        <div class="col-8">
                            {% if user.is_authenticated %}
                                <a type="button" class="btn btn-lg btn-block btn-outline-primary w-100"
                                    href="{% url 'mailwork:newsletter_detail' newsletter.pk %}">Подробнее</a>
                                {% if perms.mailwork.can_unpublish_message %}
                                    <a type="button" class="btn btn-lg btn-block btn-outline-danger w-100"
                                        href="{% url 'mailwork:newsletter_delete' newsletter.pk %}">Удалить</a>
                                    <a type="button" class="btn btn-lg btn-block btn-outline-success w-100"
                                        href="{% url 'mailwork:unpublish_newsletter' newsletter.pk %}">Удалить из рассылки</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}